version: "3.8"

services:
  registry:
    image: registry:2
    container_name: docker-registry
    ports:
      - "5555:5000"
    environment:
      - REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/var/lib/registry
      - REGISTRY_HTTP_ADDR=0.0.0.0:5000
    volumes:
      - "./registry-data:/var/lib/registry"
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:5000/v2/",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
